@import "../../../util/variables";

.tag {
    text-align: center;
    span {
      &:focus {
        outline: none;
      }
      border: none;
      background: $accent1;
      font-size: 12px;
      display: inline-block;
      padding: 6px 15px;
      margin: 2px;
      color: #FFFFFF;
      border-radius: 50px;
    }
  }

.cardOuter{
  background-color: white;
  padding: 20px;
  border-radius: 0.5rem;
  .cardDate{
    color: #171e23;
    margin: 0px;
    padding: 10px;
    display: inline-block;
    position: relative;
    float: right;
    background-color: #02b9ff;
  }
  .cardHead{
    border-bottom: 3px solid #02b9ff;
    margin: 0px;
  }
}

.cardOuterTransparent{
  padding: 20px;
}

