@import "../../../util/variables";

.tag {
  text-align: center;
  span {
    &:focus {
      outline: none;
    }
    border: none;
    background: $accent1;
    font-size: 12px;
    display: inline-block;
    padding: 6px 15px;
    margin: 2px;
    color: #ffffff;
    border-radius: 50px;
  }
}

.cardOuterTransparent {
  padding: 20px;
}
